@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* ######## Apply to all ########### */
body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #e74c3c !important;
}


.container {
    padding-top: 30px; 
    margin-top: 20px; 
    font-family: sans-serif;
}

.left-column {
    float: left;
    position: relative;
    justify-content:left;
    right:200px;
    width: 30%;
}

/* ########## nav ############# */

.navbar {
    display: flex-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px; 
    color: whitesmoke;
    background: linear-gradient(#3053A8, #252068);
    font-size: 75rem;
}

/* FONT */
html {
    font-size: 10px;
    }

h1 {
    font-size: 5rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px red,
                    2px 2px 1px red;
    text-align: center;
    letter-spacing: 2px;
}

h1 + p {
    font-weight: bold;
}

p::first-line {
    letter-spacing: 4px;
    word-spacing: 4px;
}

p {
    font-size: 1.5rem;
    color: red;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
}

/* ############ SEARCH ###############  */

.column-one{
    float: left; 
    position: relative; 
    right: 300px;
}


p#one {
    width: 1700px;

}
div#two-a{
    width: 1250px;
}

#one {
    border-style: solid ;
    border-width: normal;
    border-color: black;
    padding: 10px;
    width: 1000px;
    height: 150px;
}

/* column 2*/
.column-two {
    float: right; 
    position: relative;
    left: 250px; 
}

/* ######### Network Info ############ */



/* ######### 1day title ############ */



/* ######### SEARCH ############ */
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
}

.search:hover input, .search input:focus {
    width: 200px;
    margin-left: 0px;
}

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}